+font('open', Open-Sans)

=open
	font-family: open, sans-serif

body
	+open
	color: $b
	font-size: 14px
	background-color: $st

.contain
	max-width: 1170px
	width: 100%
	margin: 0 auto
	padding: 0 15px

section
	position: relative

.section
	padding: 30px 0 50px 0
	width: 100%

.section-white
	background-color: $w

.section-title
	// padding: 20px

.head
	position: relative
	color: $s20
	font-size: 24px
	font-weight: 700
	padding-left: 25px
	border-left: 5px solid $tyellow

.gloss
	position: relative
	&::after
		background: #fff
		content: ""
		height: 155px
		left: -75px
		opacity: .3
		position: absolute
		top: -50px
		-webkit-transform: rotate(35deg)
		transform: rotate(35deg)
		-webkit-transition: all .5s
		transition: all .5s
		width: 50px
		z-index: 1
		-webkit-animation: gloss 4s ease-out 0s infinite
		animation: gloss 4s ease-out 0s infinite

@keyframes gloss
	0%
		left: -75px
	15%, 100%
		left: 120%

.btn_st1
	height: 44px
	line-height: 44px
	padding-left: 15px
	padding-right: 15px
	border-radius: 5px
	background-color: #f8c53d
	background-image: linear-gradient(133deg, #f8c53d 0%, #f8c53d 24%, #ffd460 100%)
	color: #202020
	font-size: 16px
	font-weight: 500
	-webkit-transition: background .2s, color .2s, -webkit-box-shadow .2s
	transition: background .2s, color .2s, -webkit-box-shadow .2s
	transition: background .2s, color .2s, box-shadow .2s
	transition: background .2s, color .2s, box-shadow .2s, -webkit-box-shadow .2s
	&:hover
		animation: btnHover 0.6s ease-out .15s 1 forwards

@keyframes btnHover
	0%
	  box-shadow: 0 0 12px 14px rgba(218, 167, 29, 0.1)
	10%
	  box-shadow: 0 0 12px 14px rgba(218, 167, 29, 0.6)
	100%
	  box-shadow: 0 0 2px 30px transparent

.btn
	height: 68px
	line-height: 64px
	width: 380px
	font-size: 16px
	font-weight: bold
	letter-spacing: 1.2px
	box-shadow: 0 11px 40px rgba(218, 167, 29, 0.55)
	text-transform: uppercase
	margin: 0
	padding: 0
	background-color: transparent
	display: inline-block
	outline: none
	border: none
	line-height: 1
	text-align: center
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	text-decoration: none
	vertical-align: middle
	cursor: pointer
	+open

.pro__menu	
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
.pro__btn
	// display: -webkit-box
	// display: -ms-flexbox
	// display: flex
	// -webkit-box-align: center
	// -ms-flex-align: center
	// align-items: center
	// text-align: center
	// -webkit-box-pack: center
	// -ms-flex-pack: center
	// justify-content: center
	margin-left: 33px
	margin-right: 33px
	margin-bottom: 33px
	width: 182px
	height: 46px
	background-color: #fff
	border: 3px solid #ebe8df
	border-radius: 5px
	color: $s20
	cursor: pointer
	transition: .2s
	font-weight: 700
	&:hover
		background-color: #ebe8df
	&.active
		border: none
		background-image: linear-gradient(133deg, #f8c53d 0%, #f8c53d 24%, #ffd460 100%)
		-webkit-box-shadow: 0 11px 40px rgba(218, 167, 29, 0.55)
		box-shadow: 0 11px 40px rgba(218, 167, 29, 0.55)
		cursor: default

.x-input
	max-width: 400px
	font-size: 18px
	color: #000
	height: 68px
	line-height: 64px
	background-color: #fff
	border: 2px solid #ece8e8
	border-radius: 5px
	width: 100%
	outline: none
	padding-left: 20px
	padding-right: 45px
	-webkit-transition: background-color .2s
	transition: background-color .2s
	margin: 0 auto
	&:focus
		background-color: $e

.form-group
	display: block
	position: relative
	margin-bottom: 10px

.form-label
	display: block
	color: $s20
	font-size: 16px
	font-weight: 700
	margin-bottom: 20px
	line-height: 1

.mb
	margin-bottom: 20px

.remodal-wrapper
	left: auto !important
	bottom: auto !important
	padding: 0 !important

.remodal
	max-width: 450px !important
	height: 100vh
	padding: 0 !important

.remodal-close
	transition: all .2s ease !important
	border-radius: 50%
	width: 50px !important
	height: 50px !important
	&:before
		font-size: 40px !important
		width: 50px !important
		line-height: 50px !important
	&:hover
		background-color: $e

.modal__form
	padding: 50px 0

.modal__header
	padding: 0 40px
	margin-top: 50px

.modal__body
	margin-top: 30px
	padding: 0 40px
	.btn
		width: 100% !important

.modal__lg
	font-size: 26px
	font-weight: 700
	line-height: 1.2
	margin-bottom: 15px
	letter-spacing: 1.5px

.modal__md
	font-size: 16px
	font-weight: 400
	line-height: 1.3

.overlay
	position: fixed
	width: 100%
	height: 100vh
	top: 0
	left: 0
	background-color: rgba(0, 0, 0, .9)
	display: none
	z-index: 99999

.popup
	position: absolute
	width: 500px
	height: 200px
	line-height: 200px
	text-align: center
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	background-color: $w
	+r(500)
		max-width: calc(100% - 5%)
		width: 100%

	h2
		color: $b

.close-popup
	position: absolute
	top: 15px
	right: 15px
	width: 23px
	height: 23px
	cursor: pointer

	&::before, &::after
		content: ''
		background-color: $b
		position: absolute
		height: 1px
		width: 31px
		top: 11px
		left: -4px

	&::before
		transform: rotate(-45deg)

	&::after
		transform: rotate(45deg)


.owl-theme .owl-nav [class*=owl-]
	width: 40px
	height: 40px
	line-height: 40px !important
	font-size: 16px !important
	padding: 0 !important
	position: absolute
	top: 50%
	background: #fdd159 !important
	-webkit-transform: translateY(-50%)
	   -moz-transform: translateY(-50%)
	    -ms-transform: translateY(-50%)
	     -o-transform: translateY(-50%)
	        transform: translateY(-50%)

.owl-carousel .owl-nav .owl-prev
	left: 2px

.owl-carousel .owl-nav .owl-next
	right: 2px
        