.tab-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    flex-basis: 30%;
    cursor: pointer; 
    margin-left: 0;
    margin-right: 0;
  }
}

.tab-content {
  div {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;   
    min-height: 300px;
  }
  img {
    max-width: 50%;
    margin: 0 auto;
    // border: 1px solid red;
  }
}


