#welcome
	display: none
	width: 100%
	height: 100vh
	position: fixed
	top: 0
	left: 0
	background-color: rgba($b, 0.5)
	z-index: 98999
	&.open
		display: block
	
.welcome
	position: absolute
	top: 15%
	max-width: 1000px
	min-height: 400px
	margin: 0 auto
	padding: 30px 50px
	background-color: $st
	position: relative
	text-align: center
	&__close
		position: absolute
		top: 0
		left: 0
		width: 50px
		height: 50px
		cursor: pointer
		background: $tyellow

		&::before, &::after
			content: ''
			background-color: $w
			position: absolute
			height: 3px
			width: 30px
			top: 50%
			left: 20%
			transform: translate(-50%, -50%)

		&::before
			transform: rotate(-45deg)

		&::after
			transform: rotate(45deg)
	&__head
		img
			max-width: 150px
			margin: 0 auto
	h1
		margin: 30px 0 50px 0
	&__body
		width: 100%
		margin-top: 20px
		&-head
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-around
		&-lang
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: space-around
			li
				width: 45%
				flex-basis: 45%
				position: relative
				a
					width: 100%
					display: block
					font-size: 30px
					cursor: pointer
					border-radius: 10px
					padding: 75px 0
					margin: 0 auto
					color: $tyellow
					background-color: $w
					box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14)
					+tr(all .25s ease)
					&:hover
						box-shadow: 0 2px 12px rgba(0,0,0,0.1)
			h1
				color: $b

	&__footer
		padding: 30px 0 0 0

.social
	text-align: center
	li
		position: relative
		display: inline-block
		margin-right: 20px
		width: 40px
		height: 40px
		line-height: 40px
		background: transparent
		border: 1px solid $tyellow
		cursor: pointer
		+tr(all .2s ease)
		&:last-child
			margin-right: 0
		&:hover
			background: $tyellow
		&:hover a
			color: $w
		a
			font-size: 20px
			color: $tyellow
